* {
	box-sizing: border-box;
}

body {
	background-color: #0f6987;
	font-family: 'Cairo', sans-serif;
}

.card {
	width: 400px;
	margin: auto;
	padding: 30px;
	color: white;
}

@media (max-width: 767px) {
	.card {
		width: 100%;
	}
	.card input {
		width: 100%;
	}
}

.card img {
	display: block;
	margin: auto;
	width: 100px;
	height: 95px;
	border-radius: 50%;
	border: 2px solid #aaa;
	padding: 2px;
}

.card h1 {
	text-align: center;
}

.card div:first-of-type {
	display: flex;
	align-items: center;
}

.card input {
	margin: 10px auto;
	text-align: center;
	border: none;
	border-radius: 4px;
	outline: none;
	font-size: 20px;
	font-weight: 700;
	background-color: #eee;
	font-family: 'Cairo', sans-serif;
	border: 1px solid #ccc;
	width: 90px;
}

.card input::placeholder {
	color: #ccc;
}
.card input:focus::placeholder {
	opacity: 0;
}
.card button {
	margin: 20px auto;
	display: block;
	font-size: 16px;
	font-weight: 600;
	border: none;
	border-radius: 10px;
	padding: 5px 35px;
	background-color: #0fa4d7;
	font-family: 'Cairo', sans-serif;
	border-bottom: 2px solid grey;
	color: white;
}
.card button:hover {
	border: none;
}

.card div:last-child {
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.3);
}

.card p {
	margin: 10px 0;
	font-size: 20px;
	font-weight: 600;
}