* {
	box-sizing: border-box;
}

body {
	background-color: #007ba5;
	font-family: 'Cairo', sans-serif;
}

.card {
	width: 400px;
	margin: auto;
	padding: 30px;
	color: white;
}

@media (max-width: 767px) {
	.card {
		width: 100%;
	}
	.card input {
		width: 100%;
	}
}

.card img {
	display: block;
	margin: auto;
	width: 100px;
	height: 95px;
	border-radius: 50%;
	border: 2px solid #aaa;
	padding: 2px;
}

.card h1 {
	text-align: center;
}

.card div:first-of-type {
	display: flex;
	align-items: center;
}

.card input {
	margin: 10px auto;
	text-align: center;
	border: none;
	border-radius: 4px;
	outline: none;
	font-size: 20px;
	font-weight: 700;
	background-color: #eee;
	font-family: 'Cairo', sans-serif;
	border: 1px solid #ccc;
	width: 90px;
}

.card input::placeholder {
	color: #ccc;
}
.card input:focus::placeholder {
	opacity: 0;
}
.card button {
	margin: 20px auto;
	display: block;
	font-size: 19px;
	font-weight: 700;
	border: none;
	border-radius: 10px;
	padding: 5px 40px;
	background-color: #0fa4d7;
	font-family: 'Cairo', sans-serif;
	color: white;
}
.card button:hover {
	opacity: .8;

}

.card div:last-of-type{
	padding: 20px;
	padding-bottom: 50px;
	margin-top: 30px;
	background-color: rgba(0, 0, 0, 0.2);
}

.card div:last-of-type p {
	margin: 5px 0;
	font-size: 17px;
	font-weight: 500;
	color: white;
}
form div:nth-child(2) p {
	font-weight: 700;
	font-size: 22px;
}
form div:nth-child(3) {
	font-weight: 700;
	padding: 15px 20px !important;
}
form div:not(:last-child) {
	margin: 10px;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.3);
}
form div:first-of-type {
	margin: 85px 10px 10px;
}
form p {
	margin: 10px 0;
	font-size: 20px;
	font-weight: 600;
	color: white;
}


/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
	display: block;
  width: fit-content;
	margin: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
	position: absolute;
	bottom: 0;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #007ba5;
  border: 1px solid #888;
  width: 100%;
	height: 100%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  left: 20px;
  top: 25px;
  color: #036d90;
  font-size: 25px;
  font-weight: bold;
	padding: 0px 14px;
	background-color: #00000090;
	border-radius: 50%;
}

.close:hover,
.close:focus {
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.3s;
  animation: animatezoom 0.3s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

body > span {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 10px;
	font-size: 12px;
	font-weight: 600;
	width: 100%;
	text-align: center;
	color: grey;
}